/**
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Julius Sans One', sans-serif;
font-family: 'Nunito Sans', sans-serif;
**/
h1, h2 {
  font-family: "Julius Sans One", sans-serif;
  font-weight: bold;
}

.nav-item {
  font-family: "Julius Sans One", sans-serif;
  font-size: 1rem;
  font-weight: 700;
}
@media only screen and (min-width: 1024px) {
  .nav-item {
    font-size: 1.3rem;
  }
}

h5 {
  font-family: "Roboto", sans-serif;
}

.card-text {
  font-family: "Open Sans", sans-serif;
}

.p1 {
  font-family: "Julius Sans One", sans-serif;
  font-size: 1.5rem;
  font-weight: bolder;
}

.p2 {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
}

.p3 {
  font-family: "Julius Sans One", sans-serif;
  font-weight: bold;
  font-size: 1.5;
}

.follow {
  font-family: "Roboto", sans-serif;
}
.follow p {
  font-size: 2rem;
}

.cardDiora .tittle, .cardFigu .tittle, .cardCj .tittle, .cardAcc .tittle {
  font-size: 2rem;
  font-family: "Julius Sans One", sans-serif;
  text-align: center;
}
@media only screen and (min-width: 600px) {
  .cardDiora .tittle, .cardFigu .tittle, .cardCj .tittle, .cardAcc .tittle {
    font-size: 2.5rem;
  }
}
@media only screen and (min-width: 1024px) {
  .cardDiora .tittle, .cardFigu .tittle, .cardCj .tittle, .cardAcc .tittle {
    text-align: start;
    font-size: 3rem;
  }
}
.cardDiora .material, .cardFigu .material, .cardCj .material, .cardAcc .material {
  font-size: 1rem;
  font-family: "Julius Sans One", sans-serif;
  text-align: center;
}
@media only screen and (min-width: 1024px) {
  .cardDiora .material, .cardFigu .material, .cardCj .material, .cardAcc .material {
    text-align: start;
    font-size: 1.2rem;
  }
}
.cardDiora .sprice, .cardFigu .sprice, .cardCj .sprice, .cardAcc .sprice {
  font-size: 1.5rem;
  font-family: "Julius Sans One", sans-serif;
  text-align: center;
}
@media only screen and (min-width: 1024px) {
  .cardDiora .sprice, .cardFigu .sprice, .cardCj .sprice, .cardAcc .sprice {
    text-align: start;
    font-size: 1.5rem;
  }
}
.cardDiora .price, .cardFigu .price, .cardCj .price, .cardAcc .price {
  font-size: 2rem;
  font-family: "Julius Sans One", sans-serif;
  text-align: center;
}
@media only screen and (min-width: 1024px) {
  .cardDiora .price, .cardFigu .price, .cardCj .price, .cardAcc .price {
    text-align: start;
    font-size: 2rem;
  }
}
.cardDiora a, .cardFigu a, .cardCj a, .cardAcc a {
  text-decoration: none;
}
.cardDiora a:link, .cardFigu a:link, .cardCj a:link, .cardAcc a:link {
  color: black;
}
.cardDiora a:visited, .cardFigu a:visited, .cardCj a:visited, .cardAcc a:visited {
  color: black;
}

h3 {
  font-size: 3rem;
  font-family: "Julius Sans One", sans-serif;
  font-weight: bold;
}

.nav2 a {
  font-size: 1.5rem;
  font-family: "Julius Sans One", sans-serif;
  color: black;
}
.nav2 a a:link {
  color: black;
}
.nav2 a a:visited {
  color: black;
}
@media only screen and (min-width: 300px) {
  .nav2 a {
    font-size: 1.2rem;
  }
}
@media only screen and (min-width: 1024px) {
  .nav2 a {
    font-size: 2rem;
  }
}

.nav1 a {
  color: black;
}

.follow {
  font-family: "Julius Sans One", sans-serif;
  font-weight: bold;
}

.description {
  font-size: 1.2rem;
  font-family: "Julius Sans One", sans-serif;
}
@media only screen and (min-width: 1024px) {
  .description {
    font-size: 1.4rem;
  }
}

form {
  font-family: "Julius Sans One", sans-serif;
}

.btn a:link {
  color: white;
}

.btn a:visited {
  color: white;
}

.clickaqui:link {
  color: black;
}

.clickaqui:visited {
  color: black;
}

* {
  padding: 0;
  margin: 0;
}

h1, h2 {
  margin: 0;
  padding: 0;
  text-align: center;
}
@media only screen and (min-width: 300px) {
  h1, h2 {
    font-size: 1.2rem;
  }
}
@media only screen and (min-width: 600px) {
  h1, h2 {
    font-size: 1.3rem;
  }
}
@media only screen and (min-width: 1024px) {
  h1, h2 {
    font-size: 1.4rem;
  }
}
@media only screen and (min-width: 1440px) {
  h1, h2 {
    font-size: 1.2em;
  }
}

.logo {
  width: 100%;
}
.logo img {
  width: 70%;
  margin: 3% 15% 3% 15%;
}
@media only screen and (min-width: 1024px) {
  .logo {
    width: 40%;
    margin: 0 30% 0 30%;
  }
}

.carousel {
  width: 95%;
  margin: 0 2.5% 0 2.5%;
}

.cards {
  margin: auto;
  display: flex;
  width: 80%;
  margin: 5% 10% 5% 10%;
  flex-wrap: wrap;
  row-gap: 20px;
  column-gap: 20px;
}
.cards .card {
  margin: auto;
}

.fila {
  margin-bottom: 3%;
}

.bannerB {
  margin: auto;
  text-align: center;
}
@media only screen and (min-width: 600px) {
  .bannerB {
    height: 280px;
  }
}
@media only screen and (min-width: 1024px) {
  .bannerB {
    font-size: 1.9rem;
    width: 100%;
    height: 100%;
  }
}

.insta {
  margin: auto;
  margin-top: 5%;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 20px;
}
.insta img {
  width: 40%;
  margin: auto;
}

.follow {
  width: 80%;
  margin: auto;
}

.nav-item {
  margin: 0 5% 0 5%;
}

.cardDiora, .cardFigu, .cardCj, .cardAcc {
  width: 90%;
  margin: 0 5% 0 5%;
}
.cardDiora p, .cardFigu p, .cardCj p, .cardAcc p {
  margin-top: 2%;
}
.cardDiora img, .cardFigu img, .cardCj img, .cardAcc img {
  height: 95%;
  margin: 2.5% 0 2.5% 0;
}

.cardDiora .card, .cardFigu .card, .cardCj .card, .cardAcc .card {
  box-shadow: 5px 8px 10px 0px rgba(0, 0, 0, 0.69);
}

h3 {
  text-align: start;
  padding: 2%;
  width: 100%;
  text-align: center;
}

.description {
  width: 80%;
  text-align: center;
  margin: auto;
}
@media only screen and (min-width: 1024px) {
  .description {
    width: 60%;
    margin: 0 20% 0 20%;
  }
}

@media only screen and (min-width: 1024px) {
  form {
    width: 70%;
    margin: auto;
  }
}

.storyT {
  position: relative;
}
.storyT img {
  width: 100%;
  position: relative;
  opacity: 80%;
  z-index: 1;
}

.sTelling {
  width: 80%;
  text-align: center;
  margin: -20% 10% 10% 10%;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  z-index: 100;
  position: relative;
  opacity: 80%;
}

main {
  background-color: #f4f4f4;
}

.fila {
  background-color: #f0e9e9;
}

.bannerB {
  background-color: #f0e9e9;
}

h1, h2 {
  background-color: #c0b283;
}

.nav {
  background-color: #f0e9e9;
}

.nav2 {
  background-color: #f4f4f4;
}

input {
  background-color: #efefef !important;
}

textarea {
  background-color: #f5f5e2 !important;
}

.button {
  --offset: 10px;
  --border-size: 2px;
  display: block;
  position: relative;
  padding: 1em 1em;
  appearance: none;
  border: 0;
  background: transparent;
  color: #e55743;
  text-transform: uppercase;
  letter-spacing: 0.25em;
  outline: none;
  cursor: pointer;
  font-weight: bold;
  border-radius: 0;
  box-shadow: inset 0 0 0 var(--border-size) currentcolor;
  transition: background 0.8s ease;
  margin: 5% auto;
}
.button:hover {
  background: rgba(100, 0, 0, 0.03);
}
.button__horizontal, .button__vertical {
  position: absolute;
  top: var(--horizontal-offset, 0);
  right: var(--vertical-offset, 0);
  bottom: var(--horizontal-offset, 0);
  left: var(--vertical-offset, 0);
  transition: transform 0.8s ease;
  will-change: transform;
}
.button__horizontal::before, .button__vertical::before {
  content: "";
  position: absolute;
  border: inherit;
}
.button__horizontal {
  --vertical-offset: calc(var(--offset) * -1);
  border-top: var(--border-size) solid currentcolor;
  border-bottom: var(--border-size) solid currentcolor;
}
.button__horizontal::before {
  top: calc(var(--vertical-offset) - var(--border-size));
  bottom: calc(var(--vertical-offset) - var(--border-size));
  left: calc(var(--vertical-offset) * -1);
  right: calc(var(--vertical-offset) * -1);
}
.button:hover .button__horizontal {
  transform: scaleX(0);
}
.button__vertical {
  --horizontal-offset: calc(var(--offset) * -1);
  border-left: var(--border-size) solid currentcolor;
  border-right: var(--border-size) solid currentcolor;
}
.button__vertical::before {
  top: calc(var(--horizontal-offset) * -1);
  bottom: calc(var(--horizontal-offset) * -1);
  left: calc(var(--horizontal-offset) - var(--border-size));
  right: calc(var(--horizontal-offset) - var(--border-size));
}
.button:hover .button__vertical {
  transform: scaleY(0);
}

/*# sourceMappingURL=style.css.map */
