main {
    background-color: $papel;
}

.fila {
    background-color: $rosa;
}

.bannerB {
    background-color: $rosa;
}

h1, h2 {
    background-color: $oro;
}

.nav {
    background-color: $rosa;
}

.nav2 {
    background-color: $papel;
}

input {
    background-color: map-get($color , claro) !important
}

textarea {
    background-color: map-get($color , medio) !important
}

.shop .row {
    background-color: $rosa;
}