
h1, h2{
    margin: 0;
    padding: 0;
    text-align: center;
    @include ssmall {
        font-size: 1.2rem;
    }
    @include small {
        font-size: 1.3rem;
    }
    @include medium {
        font-size: 1.4rem;
    }
    @include large {
        font-size: 1.2em;
    }
}

.logo {
    width: 100%;
     img {
         width: 70%;
         margin: 3% 15% 3% 15%;
     }
     @include medium {
         width: 40%;
         margin: 0 30% 0 30%;
     }
}

.carousel {
    width: 95%;
    margin: 0 2.5% 0 2.5%;
}


.cards {
    margin: auto;
    display: flex;
    width: 80%;
    margin: 5% 10% 5% 10%;
    flex-wrap: wrap;
    row-gap: 20px;
    column-gap: 20px;
        .card {
            margin: auto;
        }
}

.banner {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    img {
        width: 100%;
            }
    @include medium {
        display: flex;
        .bannerA {
            width: 50%;
        }
    }
}
        

.bannerB {
    text-align: center;
    margin-bottom: 2%;
    height: 250px;
      p { margin-bottom: 1px;
          padding-top: 10px;
      }
      @include small {
          height: 280px
        }
        @include medium {
        font-size: 1.2rem;
        display: flexbox;
        width: 50%;
        height: auto;
            p {
                display: flex;
                justify-content: center;
                
            }
            .p1 {
                margin-top: 15%;
            }
      }
    }



.insta {
    margin: auto;
    margin-top: 5%;
    width: 80%;
    display: flex;
    flex-wrap: wrap; 
    column-gap: 20px;
    row-gap: 20px;
      img {
            width: 40%;
            margin: auto;
      }
}

.follow{
    width: 80%;
    margin: auto;
}

.nav-item {
    margin: 0 5% 0 5%;
}

.cardDiora {
    width: 90%;
    margin: 0 5% 0 5%;
    p {
        margin-top: 2%;
    }
    
    img {
        height: 95%;
        margin: 2.5% 0 2.5% 0;
        }
}

.cardDiora .card {
box-shadow: 5px 8px 10px 0px rgba(0,0,0,0.69);
}

h3 {
    text-align: start;
    padding: 2%;
    width: 100%;
    text-align: center;
}






































.storyT {
    position: relative;
img {
    width: 100%;
    position: relative;
    opacity: 80%;
    z-index: 1;

}


}

.sTelling { 
width: 80%;
text-align: center;
margin: -20% 10% 10% 10%;
background-color: rgb(255, 255, 255);
border-radius: 10px;
z-index: 100;
position: relative;
opacity: 80%;
}