/**
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Julius Sans One', sans-serif;
font-family: 'Nunito Sans', sans-serif;
**/

@import "mediaq";

h1, h2 {
    font-family: 'Julius Sans One', sans-serif;
    font-weight: bold;
}

.nav-item {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 1rem;
    font-weight: 700;
    @include medium {
        font-size: 1.3rem;
    }
}

h5 {
    font-family: 'Roboto', sans-serif;
}

.card-text {
    font-family: 'Open Sans', sans-serif;
}

.bannerB {
.p1 { 
    font-family: 'Julius Sans One', sans-serif;
    font-size: 1.5rem;
    font-weight: bolder;
}
.p2 {
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
}
.p3 {
    font-family: 'Julius Sans One', sans-serif;
    font-weight: bold;
    font-size: 1.5;
}
        p {
         font-size: 2rem;
}
            @include medium {
                .p1 {
                font-size: 3rem;
     }
                .p2 {
                    font-size: 3rem;
                }
                .p3 {
                    font-size: 2.6rem;
                }
}
}

.follow {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
        @include medium{
            font-size: 2rem;
        }
}

.cardDiora {
    .tittle {
        font-size: 2rem;
        font-family: 'Julius Sans One', sans-serif;
        text-align: center;
        @include small {
            font-size: 2.5rem;
        }
        @include medium {
            text-align: start;
            font-size: 3rem;
        }
        }
        .material {
            font-size: 1rem;
            font-family: 'Julius Sans One', sans-serif;
            text-align: center;
            @include medium {
                text-align: start;
                font-size: 1.2rem;
            }
        }
        .sprice {
            font-size: 1.5rem;
            font-family: 'Julius Sans One', sans-serif;
            text-align: center;
            @include medium {
                text-align: start;
                font-size: 1.5rem;
            }
        }
        .price {
            font-size: 2rem;
            font-family: 'Julius Sans One', sans-serif;
            text-align: center;
            @include medium {
                text-align: start;
                font-size: 2rem;
            }
        }
        a {
            text-decoration: none;
        }
        a:link {
            color: black;
        }
        a:visited {
            color: black;
        }
    }

h3 {
    font-size: 3rem;
    font-family: 'Julius Sans One', sans-serif;
    font-weight: bold;
}

.nav2 a{
    font-size: 1.5rem;
    font-family: 'Julius Sans One', sans-serif;
    color: black;
    a:link {
        color: black;
    }
    a:visited {
        color: black;
    }
    @include ssmall {
        font-size: 1.2rem;
    }
    @include medium {
        font-size: 2rem;
    }
}

.nav1 a {
    color: black;
}

.follow {
    font-family: 'Julius Sans One', sans-serif;
    font-weight: bold;
}

.description {
    font-size: 1.2rem;
    font-family: 'Julius Sans One', sans-serif;
    @include medium {
        font-size: 1.4rem;
    }
}

form {
    font-family: 'Julius Sans One', sans-serif;
}

.btn a:link {
    color: white;
}
.btn a:visited {
    color: white;
}

.clickaqui:link {
    color: black;
}
.clickaqui:visited {
    color: black;
}

h6 {
    font-family: 'Julius Sans One', sans-serif;
}

.desc {
    font-family: 'Julius Sans One', sans-serif;
}

h4 {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 2.5rem;
}

.columna2 {
    .price {
        font-size: 1.5rem;
        font-family: 'Julius Sans One', sans-serif;
    }
    .desc {
        font-size: 1.1rem;
    }
}

.columna2 {
    @include medium {
        h4 {
            font-size: 3.5rem;
        }
        .sku {
            font-size: 1.3rem;
        }
        .price {
            font-size: 1.9rem;
        }
        .desc {
            font-size: 1.5rem;
        }
    }
}

.shop a {
    font-size: 1.5rem;
    text-decoration: none;
}

.back:link {
    color: black;
}
.back:visited {
    color: black
}

.contact, .contact2 {
    font-size: 2rem;
    font-family: 'Julius Sans One', sans-serif;
    text-align: center;
}

.story {
    .storyp1 {
        font-size: 1.3rem;
        font-weight: 300;
        font-family: 'Julius Sans One', sans-serif;
        text-align: center;
    }
    .storyp2 {
        font-size: 1.4rem;
        
    }
}