/**
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Julius Sans One', sans-serif;
**/

h1, h2 {
    font-family: 'Roboto', sans-serif;
}

.nav-item {
    font-family: 'Open Sans', sans-serif;
}

h5 {
    font-family: 'Roboto', sans-serif;
}

.card-text {
    font-family: 'Open Sans', sans-serif;
}

.p1 { 
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5rem;
    font-weight: bolder;
}
.p2 {
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
}
.p3 {
    font-family: 'Julius Sans One', sans-serif;
    font-weight: bold;
    font-size: 1.5;
}

.follow {
    font-family: 'Roboto', sans-serif;
        p {
            font-size: 2rem;
        }
}